@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  /* font-family: "Open Sans", sans-serif; */
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 80vh;
}

@media only screen and (max-width: 769px) {
  .carousel-item img {
    object-fit: contain;
  }
}

.carousel-caption:hover .btn {
  color: black;
}

#brands img {
  width: 200px;
  max-height: 100px;
  margin-bottom: 50px;
}

.parralax-f {
  background-image: url("pictures/formation.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parralax-d {
  background-image: url("pictures/dev.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parralax-s {
  background-image: url("pictures/consulting.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parralax-t {
  background-image: url("pictures/telecom.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bottom {
  background: #3a86ff;
  height: 20px;
}

.social a {
  font-size: 4rem;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #fd1d1d;
}
.fa-twitter {
  color: #00aced;
}
.fa-github {
  color: #6e5494;
}

#form-connexion,
#form-employe,
#form-formation {
  max-width: 480px;
}

#username:invalid,
#password:invalid {
  border: 3px red solid;
}

#username:valid,
#password:valid {
  border: 3px rgb(51, 161, 51) solid;
}

#username:placeholder-shown,
#password:placeholder-shown {
  border-color: black;
}

#using_json {
  font-size: x-large;
}

i.jstree-themeicon-custom {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  width: 40px !important;
  height: 40px !important;
}

a.jstree-anchor {
  margin-bottom: 20px !important;
}
