<div class="container-fluid">
  <hr class="mb-5" />
  <div class="row text-center align-items-center mb-4">
    <!-- <div class="col-lg-4 col-md-3 col-sm-12 mb-5">
      <i class="fa-solid fa-otter fa-2xl"></i>
    </div> -->

    <div class="col-lg-6 col-sm-12">
      <p>
        Site développé dans le cadre du cours
        <a href="https://etudier.uqam.ca/cours?sigle=INF3190" target="_blank"
          >INF3190</a
        >
        de l'<a href="http://www.uqam.ca/" target="_blank">UQAM</a>
      </p>
      <p>
        Par Leonid Glazyrin
        <a
          href="ghttps://gitlab.info.uqam.ca/glazyrin.leonid/inf3190-e22-tp/-/tree/TP1_E2022"
          target="_blank"
          >Dépôt git</a
        >
      </p>
    </div>

    <div class="row text-center col-lg-6 col-sm-12">
      <div class="social col-12 d-flex justify-content-evenly">
        <a class="col-3 ms-5" href="https://www.facebook.com"
          ><i class="fab fa-facebook"></i
        ></a>
        <a class="col-3" href="https://www.instagram.com"
          ><i class="fab fa-instagram"></i
        ></a>
        <a class="col-3" href="https://www.twitter.com"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="col-3 me-5" href="https://www.github.com"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div id="bottom" class="container-fluid mb-0"></div>
