#form-connexion,
#form-employe,
#form-formation {
  max-width: 480px;
}

#username:invalid,
#password:invalid {
  border: 3px red solid;
}

#username:valid,
#password:valid {
  border: 3px rgb(51, 161, 51) solid;
}

#username:placeholder-shown,
#password:placeholder-shown {
  border-color: black;
}
