<div id="demo" class="carousel slide mb-5" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/images/dev.jpg"
        alt="Développement"
        class="d-block w-100 rounded mx-auto"
      />
      <div class="carousel-caption">
        <a class="stretched-link" routerLink="/developpement">
          <h3>Développement</h3>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/images/telecom.jpg"
        alt="Infrastructure"
        class="d-block w-100"
      />
      <div class="carousel-caption">
        <a class="stretched-link" routerLink="/infrastructure">
          <h3>Infrastructure</h3>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/images/consulting.jpg"
        alt="Service-conseil"
        class="d-block w-100"
      />
      <div class="carousel-caption">
        <a class="stretched-link" routerLink="/service-conseil">
          <h3>Service-conseil</h3>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/images/formation.jpg"
        alt="Formation"
        class="d-block w-100"
      />
      <div class="carousel-caption">
        <a class="stretched-link" routerLink="/formation">
          <h3>Formation</h3>
        </a>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
